html,body,div,td,tr,th,ul,li,ol,p,input,span,img,table,h1,h2,h3,h4,h5,h6,header{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}

html,body{
	height:100%;

}
header{
	height:80px;
	width:1112px;
	margin:0 auto;
	.top_left{
		float:left;
		height:80px;
		line-height:80px;
		text-align:center;
		margin-right:20px;
		img{
			width:182px;
			vertical-align:middle;
		}
	}
	.top_center{
		float:left;
		height:80px;
		line-height:80px;
		font-size:16px;
		color:#171717;
		font-weight:400;
		li{
			padding:0 12px;
			float:left;
			line-height:80px;
			i{
				margin: 0 10px;
			}
		}
		li:nth-child(1):after{
		    content: "\e917";
		    font-family: strawberryicon;
		    display: inline-block;
		    margin-left: 10px;
		    color: #B5B5B5;
		    font-size: 10px;
		}
		li:nth-child(5):after{
		    content: "\e917";
		    font-family: strawberryicon;
		    display: inline-block;
		    margin-left: 10px;
		    color: #B5B5B5;
		    font-size: 10px;
		}
	}
	.top_right{
		float:right;
		height:80px;
		line-height:80px;
	}
}
//第二部分
.slide{
	background:green;
	width:1114px;
	margin:0 auto;
	height:400px;

}
//用户小设置
.setting{
	width:1114px;
	margin:0 auto;
	height:52px;
	line-height:52px;
}
//第三部分的简介


.three{
	background:#efefef;
	width:100%;
	overflow:hidden;

	//3列的介绍
	.intro_3{
		width:1114px;
		height:260px;
		margin:0 auto;
		.intro_3_01{
			height:177px;
			width:342px;
			float:left;
			margin-left:20px;
			margin-top:30px;
			position:relative;
			.center_box{
				width:100%;
				height:100px;
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				margin:auto;
				color:white;
				
				font-weight:300;
				.chapterNumber{
					text-align:center;

					margin-bottom:15px;
				}
				.chapterTitle{
					text-align:center;
					margin-bottom:20px;

				}
				.box_title{

					width:70px;
					height:30px;
					line-height:30px;
					display:block;
					border:1px solid #fff;
					border-radius:10px;
					margin:0 auto;
					text-align:center;

				}
			}
			.zc{
				width:100%;
				height:100%;
				background:rgba(0,0,0,0.2);
				transition:all 1s;
			}
			
			
		}
		.intro_3_01:nth-child(1){
			 background: url(../images/C-4.png) no-repeat center;
			 background-size:100%;
		}
		.intro_3_01:nth-child(2){
			 background: url(../images/C-2.png) no-repeat center;
			 background-size:100%;
		}
		.intro_3_01:nth-child(3){
			 background: url(../images/C-1.png) no-repeat center;
			 background-size:100%;
		}

	}
	
	//左右部分的介绍
	.intro{
		width:1114px;
		overflow:hidden;
		display:flex;
		flex-direction:row;
		margin:0 auto;
	
	.intro_left{
		background:blue;
		width:713px;
		margin:30px auto;
		height:2000px;
	}
	.intro_right{
		background:yellow;
		width:344px;
		margin:30px auto ;
		height:2000px;
	}
}
}

